body{
    display: flex;
flex-direction: column;
background-color: #faf9f6;
min-height: 95vh;


}

h1{
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h3{
    font-size: 2.5rem;
    font-weight: lighter;
}

img{
    height: 200px;
    width: 300px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%; 
}

.division{
    width: 45%;
    
    
}
.ear{
    float: left;
    background-color: lightsalmon;
    
}
.mar{
    float: right;
    background-color: powderblue;
}
p{
    font-family: 'Times New Roman', Times, serif;
}

.main {
    flex: 1;
  }

p{
    padding: 10px;
  }
#earth{
    color: darkblue;
}

#mars{
    color: darkorange;
}

footer{
    clear: both;
    text-align: right;
    margin-top: 30px;
    font-weight: bold;

}
.division-title{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@media (max-width: 680px)
{
    h1{
        font-size: 3.5rem;
        text-align: center;
      }
    h3{
        font-size: 2rem;
    }
    .division{
        display: block;
        text-align:justify;
        margin-bottom: 30px;
        width: 100%;
       
      }
    .division .image{
        width: 100%;
        display: inline;
        margin-bottom: 10px;
        object-fit: cover;
        }

    .image{
          margin-left: 0px;
         }

    body{
            margin-right: 5px;
            margin-left: 5px;
        }
    footer {
        text-align:right;
        margin-top: 20px; 
    }
    .ear{
        display: inline;
    }
    .mar{
        display: inline;
    }
    .division-title{
        text-align: center;
    }
}